<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=10">
  <title>预警管理</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="dist/css/ionicons.min.css">
  <link rel="stylesheet" href="dist/css/AdminLTE.css">
  <link rel="stylesheet" href="dist/css/skins/_all-skins.css">
  <link rel="stylesheet" href="vince/css/vince.css">
  <link rel="stylesheet" href="vince/biao/css/font-awesome.min.css">
  <!--[if lt IE 9]>
  <script src="dist/js/html5shiv.min.js"></script>
  <script src="dist/js/respond.min.js"></script>
  <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
 <header class="main-header">
    <a href="#" class="logo">
      <span class="logo-mini">
    <img src="vince/images/v01.png">
    </span>
      <span class="logo-lg"><img src="vince/images/v01.png">天津绿荫里</span>
    </a>
    <nav class="navbar navbar-static-top">
      <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button"></a>
      <span class="all_title">城市综合体能源优化调配及集群负荷控制系统</span>
      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">
              <span class="hidden-xs">管理员</span>
            </a>
            <ul class="dropdown-menu">
              <li class="user-header">
                <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                <p>
                  姓名：管理员
                  <small>部门：信息部</small>
                </p>
              </li>
              <li class="user-footer">
                <div class="pull-right">
                  <a href="login.html" class="btn btn-default btn-flat">退出系统</a>
                </div>
              </li>
            </ul>
          </li>
         
        </ul>
      </div>
    </nav>
  </header>
  <aside class="main-sidebar">
    <section class="sidebar">
      <div class="user-panel">
        <div class="pull-left image">
          <img src="dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>当前用户：管理员</p>
      <p class="menu_time">
          时间：<span id="nowTime">2016-9-13 16:12:14</span></p>
        </div>
      </div>

      <ul class="sidebar-menu">
        <li class="header">菜单 MENU</li>
        <li>
          <a href="index1.html">
            <i class="fa fa-home" style="font-size: 22px"></i> <span>首页</span>
          </a>
        </li>
        <li>
          <a href="ssjc.html">
            <i class="fa fa-eye"></i> <span>实时监测</span>
          </a>
        </li>
        <li>
          <a href="yxjc.html">
            <i class="fa fa-print" ></i> <span>运行监测</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-sliders"></i>
            <span>负荷响应</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="xyxgpj.html"><i class="fa fa-bookmark"></i> 响应效果评价</a></li>
            <li><a href="fhxyfx.html"><i class="fa fa-bookmark"></i> 负荷响应分析</a></li>

            <li><a href="xyfagl.html"><i class="fa fa-bookmark"></i> 响应方案管理</a></li>
          </ul>
        </li>

        <li  class="active">
          <a href="yjgl.html">
            <i class="fa fa-bell"></i> <span>预警管理</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-gears"></i>
            <span>设备管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="sbrk.html"><i class="fa fa-bookmark"></i> 设备入库</a></li>
            <li><a href="sbaz.html"><i class="fa fa-bookmark"></i> 设备安装</a></li>
            <li><a href="sbjx.html"><i class="fa fa-bookmark"></i> 设备检修</a></li>
            <li><a href="sbbf.html"><i class="fa fa-bookmark"></i> 设备报废</a></li>
            <li><a href="sbcx.html"><i class="fa fa-bookmark"></i> 设备查询</a></li>
          </ul>
        </li>
        <li>
          <a href="kzcl.html">
            <i class="fa fa-magnet"></i> <span>控制策略</span>
          </a>
        </li>
        <li>
          <a href="xtjc.html">
            <i class="fa fa-map"></i> <span>系统集成</span>
          </a>
        </li>
      </ul>
    </section>
  </aside>
  <div class="content-wrapper">
    <section class="content-header"> 
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">精密空调管理</li>
      </ol>
    </section>
    <div class="content qqq">
		<div style="min-height: 350px; background: blanchedalmond;border-bottom: 5px solid #000;background: #21242e">
			<div style="float: left;width: 30%;text-align: center;line-height: 350px;"><img src="vince/images/jmkt.png" /></div>
			<div style="float: left;width: 70%;text-align: center;">
			<div><p class="all_title" style="text-align:left;" >空调开关机状态：</p>
			<span id="jmktzt" class="kgbxuan"></span>
			</div>
			<div>
				<p class="all_title" style="text-align: left;">空调运行模式：</p>
				<div class="jmktms">
					<img id="img1" src="vince/images/ktg.png"/ class="jmktg" usemap="#Ktms">
					<map name="Ktms">
						<area shape="rect" id="jmkts" coords="0,0,140,120" />
						<area shape="rect" id="jmktr" coords="140,0,280,120" />
						<area shape="rect" id="jmktl" coords="280,0,420,120" />
						<area shape="rect" id="jmktq" coords="420,0,560,120" />
					</map>
					<img id="img2"  src="vince/images/kts.png"/ class="jmktmss">
					<img id="img3" src="vince/images/ktr.png"/ class="jmktmsr">
					<img id="img4"  src="vince/images/ktl.png"/ class="jmktmsl">
					<img id="img5"  src="vince/images/ktq.png"/ class="jmktmsq">
				</div>
				</div>
			</div> 
		</div>
    <div style="min-height: 200px; background: blanchedalmond;border-bottom: 5px solid #000;background: #21242e" >
				<div style="float: left;width: 33%;text-align: center;">  
					<span style="padding:0 5px;color: #fff;display: block;float: left;line-height: 200px;">回风温度：</span>
					<div style="transform: rotate(270deg);margin-top: 120px;"><meter value="0.6">60%</meter></div>            
				</div>
				<div style="float: left;width: 34%;text-align: center;">
					<span style="padding:0 5px;color: #fff;display: block;float: left;line-height: 200px;">出风温度：</span>
					<div style="transform: rotate(270deg);margin-top: 120px;"><meter value="0.8">80%</meter></div>
					</div>
				<div style="float: left;width: 33%;text-align: center;">
					<span style="padding:0 5px;color: #fff;display: block;float: left;line-height: 200px;">机房温度：</span>
					<div style="transform: rotate(270deg);margin-top: 120px;"><meter value="0.3">30%</meter></div>
					<div class="clear"></div>
			</div>
		</div>
    <div style="min-height: 235px; background: blanchedalmond;border-bottom: 5px solid #000;background: #21242e" >
			<div>
			<p class="all_title" style="text-align:center;" >精密空调相电压：</p>
			<div style="position: relative;">
				<div class="jmktpa"><span>220V</span></div>
				<div class="jmktpb"><span>225V</span></div>
				<div class="jmktpc"><span>230V</span></div>
			</div>
			</div>
			<br><br><br>
			<div>
			<p class="all_title" style="text-align:center;" >精密空调相电流：</p>
			<div style="position: relative;">
				<div class="jmktpa"><span>10A</span></div>
				<div class="jmktpb"><span>8A</span></div>
				<div class="jmktpc"><span>9A</span></div>
			</div>
			</div>
		</div>
		
		<div style="min-height: 80px;line-height: 80px; background: blanchedalmond;border-bottom: 5px solid #000;background: #21242e;text-align:center;" >
			<span class="all_title" >精密空调总功率：</span><div class="jmktpw" ><span>1600W</span></div>
		</div>
    </div>
  </div>
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b></b>
    </div>
    <strong>Copyright &copy; 2014-2016</strong>
  </footer>
  <div class="control-sidebar-bg"></div>
</div>
<script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="bootstrap/js/bootstrap.min.js"></script>
<script src="dist/js/app.min.js"></script>
<script src="dist/js/demo.js"></script>
<script src="vince/js/nicescroll.js"></script>
<script src="vince/js/demo.js"></script>
<script src="vince/datapick/js/moment.js"></script>
<script src="vince/datapick/js/daterangepicker.js"></script>
<script src="vince/js/echarts.min.js"></script>
</body>
</html>