{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <title>精密空调</title>
{% endblock %}
{% block menu %}
     <li class="header">菜单 MENU</li>
        <li class="">
          <a href="/index/">
            <i class="fa fa-home" style="font-size: 22px"></i> <span>首页</span>
          </a>
        </li>
         <li class="treeview active">
          <a href="#">
            <i class="fa fa-sliders"></i>
            <span>机房管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="fwqjg.html">&nbsp;&nbsp;&nbsp;&nbsp;服务器机柜</a></li>
            <li><a href="jkjg.html">&nbsp;&nbsp;&nbsp;&nbsp;监控机柜</a></li>
            <li><a href="ccjg.html">&nbsp;&nbsp;&nbsp;&nbsp;存储机柜</a></li>
            <li><a href="/pdjg/">&nbsp;&nbsp;&nbsp;&nbsp;配电柜</a></li>
            <li class="active"><a href="/jmkt/">&nbsp;&nbsp;&nbsp;&nbsp;精密空调</a></li>
            <li><a href="xyxgpj.html">&nbsp;&nbsp;&nbsp;&nbsp;UPS</a></li>
            <li><a href="xyxgpj.html">&nbsp;&nbsp;&nbsp;&nbsp;消防系统</a></li>
            <li><a href="xyxgpj.html">&nbsp;&nbsp;&nbsp;&nbsp;漏水监测</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-magnet"></i>
            <span>指挥室管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="xyxgpj.html">&nbsp;&nbsp;&nbsp;&nbsp;显示屏</a></li>
            <li><a href="xyxgpj.html">&nbsp;&nbsp;&nbsp;&nbsp;指挥室空调</a></li>
            <li><a href="xyxgpj.html">&nbsp;&nbsp;&nbsp;&nbsp;显示屏空调</a></li>
            <li><a href="xyxgpj.html">&nbsp;&nbsp;&nbsp;&nbsp;漏水监测</a></li>
          </ul>
        </li>
        <li>
          <a href="yxjc.html">
            <i class="fa fa-print" ></i> <span>运行监测</span>
          </a>
        </li>
        <li>
          <a href="yjgl.html">
            <i class="fa fa-bell"></i> <span>预警管理</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-gears"></i>
            <span>设备管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class=""><a href="/shebruk/">&nbsp;&nbsp;&nbsp;&nbsp;设备入库</a></li>
            <li><a href="sbjx.html">&nbsp;&nbsp;&nbsp;&nbsp;设备检修</a></li>
            <li><a href="sbbf.html">&nbsp;&nbsp;&nbsp;&nbsp;设备报废</a></li>
            <li><a href="sbcx.html">&nbsp;&nbsp;&nbsp;&nbsp;设备查询</a></li>
          </ul>
        </li>
        <li>
          <a href="xtjc.html">
            <i class="fa fa-map"></i> <span>系统集成</span>
          </a>
        </li>
{% endblock %}
{% block info %}
<section class="content-header">
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
        <li class="active">精密空调管理</li>
      </ol>
    </section>
    <div class="content qqq">
		<div style="min-height: 350px;border-bottom: 5px solid #000;background: #21242e">
			<div style="float: left;width: 30%;text-align: center;line-height: 350px;"><img src="/static/vince/images/jmkt.png" /></div>
			<div style="float: left;width: 70%;text-align: center;">
			<div><p class="all_title" style="text-align:left;" >空调开关机状态：</p>
			<span id="jmktzt" class="kgbxuan"></span>
			</div>
			<div>
				<p class="all_title" style="text-align: left;">空调运行模式：</p>
				<div class="jmktms">
					<img id="img1" src="/static/vince/images/ktg.png" class="jmktg" usemap="#Ktms">
					<map name="Ktms">
						<area shape="rect" id="jmkts" coords="0,0,140,120" />
						<area shape="rect" id="jmktr" coords="140,0,280,120" />
						<area shape="rect" id="jmktl" coords="280,0,420,120" />
						<area shape="rect" id="jmktq" coords="420,0,560,120" />
					</map>
					<img id="img2"  src="/static/vince/images/kts.png" class="jmktmss">
					<img id="img3" src="/static/vince/images/ktr.png" class="jmktmsr">
					<img id="img4"  src="/static/vince/images/ktl.png" class="jmktmsl">
					<img id="img5"  src="/static/vince/images/ktq.png" class="jmktmsq">
				</div>
				</div>
			</div>
		</div>
    <div style="min-height: 200px; background: blanchedalmond;border-bottom: 5px solid #000;background: #21242e" >
				<div style="float: left;width: 33%;text-align: center;">
					<span style="padding:0 5px;color: #fff;display: block;float: left;line-height: 200px;">回风温度：</span>
					<div style="transform: rotate(270deg);margin-top: 120px;"><meter value="0.6">60%</meter></div>
				</div>
				<div style="float: left;width: 34%;text-align: center;">
					<span style="padding:0 5px;color: #fff;display: block;float: left;line-height: 200px;">出风温度：</span>
					<div style="transform: rotate(270deg);margin-top: 120px;"><meter value="0.8">80%</meter></div>
					</div>
				<div style="float: left;width: 33%;text-align: center;">
					<span style="padding:0 5px;color: #fff;display: block;float: left;line-height: 200px;">机房温度：</span>
					<div style="transform: rotate(270deg);margin-top: 120px;"><meter value="0.3">30%</meter></div>
					<div class="clear"></div>
			</div>
		</div>
    <div style="min-height: 235px; background: blanchedalmond;border-bottom: 5px solid #000;background: #21242e" >
			<div>
			<p class="all_title" style="text-align:center;" >精密空调相电压：</p>
			<div style="position: relative;">
				<div class="jmktpa"><span>220V</span></div>
				<div class="jmktpb"><span>225V</span></div>
				<div class="jmktpc"><span>230V</span></div>
			</div>
			</div>
			<br><br><br>
			<div>
			<p class="all_title" style="text-align:center;" >精密空调相电流：</p>
			<div style="position: relative;">
				<div class="jmktpa"><span>10A</span></div>
				<div class="jmktpb"><span>8A</span></div>
				<div class="jmktpc"><span>9A</span></div>
			</div>
			</div>
		</div>

		<div style="min-height: 80px;line-height: 80px; background: blanchedalmond;border-bottom: 5px solid #000;background: #21242e;text-align:center;" >
			<span class="all_title" >精密空调总功率：</span><div class="jmkt-pw" ><span>1600W</span></div>
		</div>
    </div>
{% endblock %}