{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <title>配电柜</title>
{% endblock %}
{% block menu %}
     <li class="header">菜单 MENU</li>
        <li class="">
          <a href="/index/">
            <i class="fa fa-home" style="font-size: 22px"></i> <span>首页</span>
          </a>
        </li>
         <li class="treeview active">
          <a href="#">
            <i class="fa fa-sliders"></i>
            <span>机房管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/fwqjg/">&nbsp;&nbsp;&nbsp;&nbsp;服务器机柜</a></li>
            <li><a href="/jkjg/">&nbsp;&nbsp;&nbsp;&nbsp;监控机柜</a></li>
            <li><a href="/ccjg/">&nbsp;&nbsp;&nbsp;&nbsp;存储机柜</a></li>
            <li class="active"><a href="/pdjg/">&nbsp;&nbsp;&nbsp;&nbsp;配电柜</a></li>
            <li><a href="/jmkt/">&nbsp;&nbsp;&nbsp;&nbsp;精密空调</a></li>
            <li><a href="/ups/">&nbsp;&nbsp;&nbsp;&nbsp;UPS</a></li>
            <li><a href="/xfxt/">&nbsp;&nbsp;&nbsp;&nbsp;消防系统</a></li>
            <li><a href="/lsjc/">&nbsp;&nbsp;&nbsp;&nbsp;漏水监测</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-magnet"></i>
            <span>指挥室管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="/xsp/">&nbsp;&nbsp;&nbsp;&nbsp;显示屏</a></li>
            <li><a href="/zhskt/">&nbsp;&nbsp;&nbsp;&nbsp;指挥室空调</a></li>
            <li><a href="/xspkt/">&nbsp;&nbsp;&nbsp;&nbsp;显示屏空调</a></li>
            <li><a href="/zhslsjc/">&nbsp;&nbsp;&nbsp;&nbsp;漏水监测</a></li>
          </ul>
        </li>
        <li>
          <a href="/yxjc/">
            <i class="fa fa-print" ></i> <span>运行监测</span>
          </a>
        </li>
        <li>
          <a href="/yjgl/">
            <i class="fa fa-bell"></i> <span>预警管理</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-gears"></i>
            <span>设备管理</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class=""><a href="/shebruk/">&nbsp;&nbsp;&nbsp;&nbsp;设备入库</a></li>
            <li><a href="/sbjx/">&nbsp;&nbsp;&nbsp;&nbsp;设备检修</a></li>
            <li><a href="/sbbf/">&nbsp;&nbsp;&nbsp;&nbsp;设备报废</a></li>
            <li><a href="/sbcx/">&nbsp;&nbsp;&nbsp;&nbsp;设备查询</a></li>
          </ul>
        </li>
        <li>
          <a href="/xtjc/">
            <i class="fa fa-map"></i> <span>系统集成</span>
          </a>
        </li>
{% endblock %}
{% block info %}
<section class="content-header">
								<ol class="breadcrumb">
									<li>
										<a href="#"><i class="fa fa-dashboard"></i> 首页</a>
									</li>
									<li class="active">配电柜</li>
								</ol>
							</section>
<div class="content qqq">
								<div class="jg-left">
{#									<div class="jg-bq">#}
									<div style="left: 10px;width: 310px"><img src="/static/vince/images/jg1.png" alt="图片走丢了"/></div>
									<div class="shebbqone" style="line-height: 70px;padding-left: 50px;">
                                        <label for="sbone">数据库服务器</label>
										<input type="radio" checked="checked"  value="1" id="sbone">
									</div>
									<div class="shebbqtwo" style="line-height: 70px;padding-left: 50px;">
                                        <label for="sbtwo">网页服务器</label>
										<input type="radio" name="shebbq" value="2" id="sbtwo">
									</div>
									<div class="shebbqthree" style="line-height: 70px;padding-left: 50px;">
                                        <label for="sbthree">视频平台服务器</label>
										<input type="radio" name="shebbq" value="3" id="sbthree">
									</div>
									<div class="shebbqfour" style="line-height: 70px;padding-left: 50px;">
                                        <label for="sbfour">数据库服务器</label>
										<input type="radio" name="shebbq" value="4" id="sbfour">
									</div>
									<div class="shebbqfive" style="line-height: 70px;padding-left: 50px;">
                                        <label for="sbfive">数据库服务器</label>
										<input type="radio" name="shebbq" value="5" id="sbfive">
									</div>
{#									</div>#}
								</div>
								<div class="jg-right" style="position: relative;" >
										<ul class="nav nav-tabs navs-3">
											<li class="">
												<a data-toggle="tab" href="javascript:return false;">
													<i class="fa fa-gear"></i> 配电运行状态
												</a>
											</li>
											<li class="active">
												<a data-toggle="tab" href="#tab-1">
													A项
												</a>
											</li>
											<li>
												<a data-toggle="tab" href="#tab-2">
													B项
												</a>
											</li>
											<li>
												<a data-toggle="tab" href="#tab-3">
													C项
												</a>
											</li>
										</ul>
										<div class="tab-content" >
											<div id="tab-1" class="tab-pane active ">
													<div style="height: 320px;width: 100%;line-height: 320px;">
													<div style="float: left;width: 50%;min-width: 320px;left: 25%;margin-left: -150px;position: absolute;">
														<div id="mainav" style="width: 300px;height: 300px;"></div>
													</div>
													<div style="float: left;width: 50%;min-width: 320px;left: 70%;margin-left: -150px;position: absolute;">
														<div id="mainaa" style="width: 300px;height: 300px;"></div>
													</div>
												</div>
												<p style="margin-top: -50px;" class="all_title" >A项电压/电流</p>
												<div style="height: 395px;width: 100%;position: relative;">
													<div style="left: 50%;margin-left: -350px;position: absolute;">
													<div id="mainaw" style="width:700px;height: 420px;"></div>
													</div>
												</div>
												<p style="margin-top: -10px;" class="all_title" >8小时电压/电流变化</p>
											</div>
											<div id="tab-2" class="tab-pane" >
												<div style="height: 320px;width: 100%;line-height: 320px;">
													<div style="float: left;width: 50%;min-width: 320px;left: 25%;margin-left: -150px;position: absolute;">
														<div id="mainbv" style="width: 300px;height: 300px;"></div>
													</div>
													<div style="float: left;width: 50%;min-width: 320px;left: 70%;margin-left: -150px;position: absolute;">
														<div id="mainba" style="width: 300px;height: 300px;"></div>
													</div>
												</div>
												<p style="margin-top: -50px;" class="all_title" >B项电压/电流</p>
												<div style="height: 395px;width: 100%;position: relative;">
													<div style="left: 50%;margin-left: -350px;position: absolute;">
													<div id="mainbw" style="width:700px;height: 420px;"></div>
													</div>
												</div>
												<p style="margin-top: -10px;" class="all_title" >8小时电压/电流变化</p>
											</div>
											<div id="tab-3" class="tab-pane">
											<div style="height: 320px;width: 100%;line-height: 320px;">
													<div style="float: left;width: 50%;min-width: 320px;left: 25%;margin-left: -150px;position: absolute;">
														<div id="maincv" style="width: 300px;height: 300px;"></div>
													</div>
													<div style="float: left;width: 50%;min-width: 320px;left: 70%;margin-left: -150px;position: absolute;">
														<div id="mainca" style="width: 300px;height: 300px;"></div>
													</div>
												</div>
												<p style="margin-top: -50px;" class="all_title" >C项电压/电流</p>
												<div style="height: 395px;width: 100%;position: relative;">
													<div style="left: 50%;margin-left: -350px;position: absolute;">
													<div id="maincw" style="width:700px;height: 420px;"></div>
													</div>
												</div>
												<p style="margin-top: -10px;" class="all_title" >8小时电压/电流变化</p>
											</div>
										</div>
								</div>
							</div>
    <script>
    var t1 = 'mainav';
    var t2 = 'mainaa';
    var t3 = 'mainaw';
    var tb = 1;
    setInterval(function () {
        if($('#tab-2').hasClass('active')){
            t1 = 'mainbv';
            t2 = 'mainba';
            t3 = 'mainbw';
            tb = 2;
        }else if($('#tab-3').hasClass('active')){
            t1 = 'maincv';
            t2 = 'mainca';
            t3 = 'maincw';
            tb = 3;
        }else {
            t1 = 'mainav';
            t2 = 'mainaa';
            t3 = 'mainaw';
            tb = 1;
        }
            $.ajax({
                url: "/pdjg/",
                type: 'POST',
                data:{'tb':tb},
                headers: {'X-CSRFtoken': $.cookie('csrftoken')},
                success: function (data) {
                    dt = JSON.parse(data);
                    var myChartbv;
                    if (myChartbv != null && myChartbv != "" && myChartbv != undefined) {
                        myChartbv.dispose();
                    }
                    myChartbv = echarts.init(document.getElementById(t1));
                // 指定图表的配置项和数据
                    var option = {
                        tooltip: {
                            formatter: "{a} <br/>{b} : {c}V"
                        },
                        textStyle:{color:'#fff'},
                        series: [
                            {
                            name: '电压',
                            type: 'gauge',
                            min: 200,
                            max: 240,
                            detail: {formatter: '{value}V', textStyle: {fontWeight: '20px'}},
                            data: [{value: dt.av[0], name: 'A项电压'}]
                        }
                    ]
                };
                    myChartbv.setOption(option);

       var myChartba = echarts.init(document.getElementById(t2));
            var option1 = {
                tooltip: {
                    formatter: "{a} <br/>{b} : {c}A"
                },
                series: [
                    {
                        name: '电流',
                        type: 'gauge',
                        min: 0,
                        max: 20,
                        startAngle: 225,
                        endAngle: -45,
                        axisLine: {            // 坐标轴线
                            show: true,        // 默认显示，属性show控制显示与否
                            lineStyle: {       // 属性lineStyle控制线条样式
                                color: [[0.2, 'lightgreen'], [0.4, 'orange'], [0.8, 'skyblue'], [1, '#ff4500']],
                                width: 30
                            }},
                            detail: {formatter: '{value}A', textStyle: {fontWeight: '20px'}},
                            data: [{value: dt.av[1], name: 'A项电流'}]
                        }
                ]
            };
       myChartba.setOption(option1);

       var myChartbw = echarts.init(document.getElementById(t3));
            var optionw = {
                        title : {
                                text: '',
                                subtext:'',
                        },
                        tooltip : {
                                trigger: 'axis'
                        },
                        legend: {
                                data:['电压','电流'],
                                textStyle: {
                                        color: '#fff'          // 图例文字颜色
                                }
                        },
                        toolbox: {
                                show : true,
                                x:'50',
                                backgroundColor: 'rgba(0,0,0,0)',//背景色
                                feature : {
                                        mark : {show: true},
                                        dataView : {show: true, readOnly: false},
                                        magicType : {show: true, type: ['line', 'bar']},
                                        restore : {show: true},
                                        saveAsImage : {show: true}
                                }
                        },
                        calculable : true,
                        xAxis :
                                {
                                        type : 'category',
                                        splitLine: {
                                            show: true,
                                            lineStyle: {
                                                color: 'rgba(43,46,56,0.8)'
                                            }
                                        },
                                        boundaryGap :false,
                                        data : ['8:00','9:00','10:00','11:00','12:00','1:00','2:00','3:00'],
                                        axisLabel: {textStyle: {color: '#fff'}}
                                },

                        yAxis : [
                                {
                                    type : 'value',
                                    min:210,
                                    max:245,
                                    scale: true,
                                    splitLine: {
                                        show: true,
                                        lineStyle: {
                                            color: 'rgba(43,46,56,0.8)'
                                        }
                                    },
                                    axisLabel : {
                                            formatter: '{value} V',
                                            textStyle: {color: '#ff4500'},
                                    }
                                },
                                {
                                    type : 'value',
                                    min:0,
                                    max:35,
                                    scale: true,
                                    splitLine: {
                                        show: true,
                                        lineStyle: {
                                            color: 'rgba(43,46,56,0.8)'
                                        }
                                    },
                                    axisLabel : {
                                            formatter: '{value} A',
                                            textStyle: {color: '#1a466a'},
                                    }
                                },
                        ],
                        series : [
                                {
                                        name:'电压',
                                        type:'line',
                                        data:dt.wv,
                                        symbol: 'circle',
                                        symbolSize: 10,
                                },
                                {
                                        name:'电流',
                                        type:'line',
                                        yAxisIndex: 1,
                                        symbol: 'circle',
                                        symbolSize: 10,
                                        data:dt.wa,
                                    },
                        ],
                };
       myChartbw.setOption(optionw);
                }
            })
        }, 5000);
    </script>
{% endblock %}
{% block custom_js %}
    <script src="/static/vince/js/echarts.js"></script>
    <script src="/static/vince/js/jquery.js"></script>
{% endblock %}