{% extends 'base.html' %}
{% load staticfiles %}
{% block info %}
<section class="content-header">
      <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
      </ol>
    </section>
<div class="content qqq">
    <div class="rezone">
          <div class="requtu">
<img src='/static/vince/images/jifang4.jpg'  usemap="#Map" />
<map name="Map">
<area shape="poly"  id="hotone"  coords="487,85,563,60,660,41,721,35,753,35,772,40,785,45,778,190,748,197,729,213,727,230,727,264,680,276,665,273,640,269,624,269,598,273,580,273,564,274,556,274,542,280,524,280,508,278,492,278,485,263" href="#">
<area shape="poly" id="hottwo" coords="185,156,213,177,223,175,236,188,238,200,307,211,308,196,330,189,424,156,422,110,400,91,315,72,311,51,257,40,244,32,212,26,168,32,155,45,156,115,159,135" href="#">
<area shape="rect" id="hotthree" coords="380,200,480,300">
</map>
<a href="yjgl.html">
<div class="sy_jinggao jing"></div></a>
<div class="requone">
<div class="requzuo"></div>
<div class="requyou">
<p class="requyou_title">控制室</p>
<li class="requyou_inf">
	<span class="requyou_infleft">控制室温度</span>
	<span class="requyou_infright">26℃</span>
</li>
<li class="requyou_inf">
	<span class="requyou_infleft">显示屏运行温度</span>
	<span class="requyou_infright">32℃</span>
</li>
<li class="requyou_inf">
	<span class="requyou_infleft">显示屏实时能耗</span>
	<span class="requyou_infright">5kWh</span>
</li></div></div>
<div class="requtwo">
<div class="requzuo"></div>
<div class="requyou">
<p class="requyou_title">机房</p>
<li class="requyou_inf">
	<span class="requyou_infleft">机房温度</span>
	<span class="requyou_infright">35℃</span>
</li>
<li class="requyou_inf">
	<span class="requyou_infleft">本日累计耗电量</span>
	<span class="requyou_infright">90kWh</span>
</li>
<li class="requyou_inf">
	<span class="requyou_infleft">本月累计耗电量</span>
	<span class="requyou_infright">210kWh</span>
</li>
</div></div></div> </div>
<div class="requthree">
<div class="requzuo"></div>
<div class="requyou">
<p class="requyou_title">机柜</p>
<li class="requyou_inf">
	<span class="requyou_infleft">服务器机柜温度</span>
	<span class="requyou_infright">30℃</span>
</li>
<li class="requyou_inf">
	<span class="requyou_infleft">监控机柜温度</span>
	<span class="requyou_infright">32℃</span>
</li>
<li class="requyou_inf">
	<span class="requyou_infleft">存储机柜温度</span>
	<span class="requyou_infright">30℃</span>
</li></div></div>
<div class="sy_info">
<div class="sy_info_left lindianjia">
   <p>实时能耗：<span >  30</span> KW <br>
平均电压：<span >225</span> V</p>
</div>
<div class="sy_info_right">
  <div class="sy_info_one">
  <p>
       <br>当<br>前<br>运<br>行<br>状<br>态
  </p>
  </div>
 <div class="sy_info_three">
   <table>
     <tr>

       <td>指挥室</td>
       <td>指挥室空调运行状态<span  class="shoudanxuan"></span></td>
       <td>显示屏空调运行状态<span  class="shoudanxuan"></span></td>
       <td>显示屏运行温度：30℃</td>
       <td>UPS使用情况<span  class="shoudanxuan"></span></td>
     </tr>
      <tr>
       <td>机房</td>
       <td>精密空调运行状态<span  class="shoudanxuan"></span></td>
       <td>服务器机柜温度：30℃</td>
       <td>监控机柜温度：32℃</td>
       <td>存储机柜温度：30℃</td>
     </tr>
   </table>
<div class="clear"></div>
</div>
<div class="sy_info_four">
  <p><br>机房及控制室漏水监测状态<span  class="shoudanxuan"></span><br><br>消防系统运行状态<span  class="shoudanxuan"></span></p>
</div>
<div class="clear"></div>
</div>
<div class="clear"></div>
</div>
</div>
{% endblock %}

